<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- ================================================================ -->
  
  <!-- フレームワークの使用するパラメータ - start -->
  <!-- 基盤画面パス -->
  <add key="FxErrorScreenPath" value="/MultiPurposeAuthSite/Error/Index" />
  <!--リソース ファイルの場合-->
  <add key="FxXMLMSGDefinition" value="C:\root\files\resource\MultiPurposeAuthSite\Xml\MSGDefinition.xml" />
  <add key="FxXMLSPDefinition" value="C:\root\files\resource\MultiPurposeAuthSite\Xml\SPDefinition.xml" />
  <!-- フレームワークの使用するパラメータ - end -->
  
  <!-- 共通部品の使用するパラメータ - start -->
  <!-- Log4Netのコンフィグファイルへのパス -->
  <!-- リソース ファイルの場合 -->
  <add key="FxLog4NetConfFile" value="C:\root\files\resource\MultiPurposeAuthSite\Log\SampleLogConf.xml" />
  <!-- 埋め込まれたリソースの場合 -->
  <!--<add key="FxLog4NetConfFile" value="_2CSClientWin_sample.SampleLogConf2CS.xml"/>-->
  <!-- Ｄ層のパフォーマンスログ出力機能のon・off -->
  <add key="FxSqlTraceLog" value="on" />
  <!-- Ｄ層のSQL文キャッシュ機能のon・off -->
  <!-- 開発フェーズのことを考慮して、デフォルトoffに設定 -->
  <add key="FxSqlCacheSwitch" value="off" />
  <!-- Ｄ層のSQLロード時のエンコーディングを指定（shift_jis、utf-8.etc） -->
  <add key="FxSqlEncoding" value="utf-8" />
  <!-- Ｄ層のコマンド タイムアウト値を指定（秒） -->
  <add key="FxSqlCommandTimeout" value="30" />
  <!-- セッションタイムアウト検出機能のon・off -->
  <add key="FxSessionTimeOutCheck" value="off" />
  <!-- 共通部品の使用するパラメータ - end -->
  
  <!-- アプリケーションの使用するパラメータ - start -->
  <!-- SQLファイルファイル（フォルダ）へのパス -->
  <add key="SqlTextFilePath" value="C:\root\files\resource\MultiPurposeAuthSite\Sql" />
  <!-- キャッシュ制御機能のon・off -->
  <add key="FxCacheControl" value="ON"/>
  <!-- アプリケーションの使用するパラメータ - end -->

  <!-- ================================================================ -->

  <!-- InternetProxy設定 (Internet アクセス用、) -->
  <add key="UseInternetProxy" value="false" />
  <add key="InternetProxyURL" value="[If necessary, please fill in internal proxy url]" />
  <add key="InternetProxyUID" value="[If necessary, please fill in user Id for proxy credential]" />
  <add key="InternetProxyPWD" value="[If necessary, please fill in password for proxy credential]" />

  <!-- IntranetProxy設定 (Intranet アクセス用、基本falseを想定) -->
  <add key="UseIntranetProxy" value="false" />
  <add key="IntranetProxyURL" value="" />
  <add key="IntranetProxyUID" value="" />
  <add key="IntranetProxyPWD" value="" />

  <!-- DebugProxy設定 (Fiddler) -->
  <add key="UseDebugProxy" value="false" />
  <add key="DebugProxyURL" value="http://localhost:8888/" />
  <add key="DebugProxyUID" value="" />
  <add key="DebugProxyPWD" value="" />
  
  <!-- ================================================================ -->

  <!-- オンライン決済サービス -->
  <!-- Stripe -->
  <add key="EnableStripe" value="false" />
  <add key="Stripe_PK" value="[If necessary, please fill in this input item like pk_test_xxxxx]" />
  <add key="Stripe_SK" value="[If necessary, please fill in this input item like sk_test_xxxxx]" />
  <!-- PAY.JP -->
  <add key="EnablePAYJP" value="false" />
  <add key="PAYJP_PK" value="[If necessary, please fill in this input item like pk_test_xxxxx]" />
  <add key="PAYJP_SK" value="[If necessary, please fill in this input item like sk_test_xxxxx]" />
  
  <!-- ================================================================ -->

  <!-- ASP.NET Identity -->

  <!-- Debugかどうか -->
  <add key="IsDebug" value="true" />
  <add key="EnabeDebugTraceLog" value="true" />

  <!-- User store type (mem, sql, ora, npg) -->
  <add key="UserStoreType" value="mem" />
  
  <!-- UserListCount -->
  <add key="UserListCount" value="50" />

  <!-- Administrator（システム管理者のアカウント） -->
  <add key="AdministratorUID" value="[Please fill in this input item.]" />
  <add key="AdministratorPWD" value="[Please fill in this input item.]" /> <!-- PWDのみ、初期化後削除可能 -->

  <!-- Notification Provider -->
  <!-- Smtp -->
  <add key="SmtpHostName" value="[e.g. : smtp.gmail.com]" />
  <add key="SmtpPortNo" value="587" />
  <add key="SmtpSSL" value="true" />
  <add key="SmtpAccountUID" value="[xxxxx@gmail.com]" />
  <add key="SmtpAccountPWD" value="[password of xxxxx@gmail.com]" />
  <!-- Twilio -->
  <add key="TwilioAccountSid" value="[TwilioAccountSid]" />
  <add key="TwilioAuthToken" value="[TwilioAuthToken]" />
  <add key="TwilioFromPhoneNumber" value="[TwilioFromPhoneNumber]" />

  <!-- 文面ファイルのフォルダ -->
  <add key="ContentOfLetterFilePath" value="C:\root\files\resource\MultiPurposeAuthSite\Txt" />
  
  <!-- 登録されるTestUserのpassword -->
  <add key="TestUserPWD" value="[password of TestUser]" />

  <!--ユーザ名検証（既定のユーザ名は、E-mail-->
  <add key="AllowOnlyAlphanumericUserNames" value="false" />
  <!-- UserNameがEmailかどうか -->
  <add key="RequireUniqueEmail" value="true" />
  <!-- 約款画面を表示するかどうか -->
  <add key="DisplayAgreementScreen" value="false" />
  <!-- メアド検証リンクの有効期限 24  時間 -->
  <add key="EmailConfirmationTokenLifespanFromHours" value="24" />
  <!-- UserNameの編集を許可するかどうか -->
  <add key="AllowEditingUserName" value="true" />
  <!-- UserNameとEmail編集時にパスワードを要求するかどうか -->
  <add key="RequirePasswordInEditingUserNameAndEmail" value="false" />
  
  <!--パスワード検証（8文字以上の大文字・小文字、数値、記号-->
  <add key="RequiredLength" value="8" />
  <add key="RequireNonLetterOrDigit" value="true" />
  <add key="RequireDigit" value="true" />
  <add key="RequireLowercase" value="true" />
  <add key="RequireUppercase" value="true" />
  <add key="StretchCount" value="1000" />

  <!--ユーザ ロックアウト（5 回入力ミスすると、5分ロックアウト-->
  <add key="UserLockoutEnabledByDefault" value="true" />
  <add key="DefaultAccountLockoutTimeSpanFromSeconds" value="300" />
  <add key="MaxFailedAccessAttemptsBeforeLockout" value="5" />

  <!-- Cookie認証チケットの有効期限は2週間 24 * 14 = 336 時間 -->
  <add key="AuthCookieExpiresFromHours" value="336" />
  <!-- Cookie認証チケットのSliding（再発行）機能 -->
  <add key="AuthCookieSlidingExpiration" value="true" />

  <!-- 2FA : TwoFactorAuthentication -->
  <!-- 必要に応じてユーザが有効にするので初期値は false -->
  <add key="TwoFactorEnabled" value="false" />
  <!-- 2FA Cookieの有効期限は2週間 24 * 14 = 336 時間 -->
  <add key="TwoFactorCookieExpiresFromHours" value="336" />

  <!-- SecurityStamp（検証間隔は10秒、本番は長めに設定-->
  <add key="SecurityStampValidateIntervalFromSeconds" value="10" />

  <!-- その他、属性の編集を許可するかどうか -->
  <add key="CanEditEmail" value="true" />
  <add key="CanEditPhone" value="true" />
  <add key="CanEdit2FA" value="true" />
  <add key="CanEditUnstructuredData" value="true" />
  <add key="CanEditOAuth2Data" value="true" />
  <add key="CanUseGdprFunction" value="true" />
  
  <!-- FIDOServerMode: none, mspass, webauthn -->
  <add key="FIDOServerMode" value="webauthn" />

  <!-- ================================================================ -->

  <!--外部ログイン-->
  <!--外部ログインの追加時に XSRF の防止-->
  <add key="XsrfKey" value="[Please set a random string for each site.]" />

  <!--外部ログイン（MicrosoftAccountAuthentication）-->
  <add key="MicrosoftAccountAuthentication" value="false" />
  <add key="MicrosoftAccountAuthenticationClientId" value="[If necessary, please fill in ClientId of Microsoft Account]" />
  <add key="MicrosoftAccountAuthenticationClientSecret" value="[If necessary, please fill in ClientSecret of Microsoft Account]" />

  <!--外部ログイン（GoogleAuthentication）-->
  <add key="GoogleAuthentication" value="false" />
  <add key="GoogleAuthenticationClientId" value="[If necessary, please fill in ClientId of Google Authentication]" />
  <add key="GoogleAuthenticationClientSecret" value="[If necessary, please fill in ClientSecret of Google Authentication]" />

  <!--外部ログイン（FacebookAuthentication）-->
  <add key="FacebookAuthentication" value="false" />
  <add key="FacebookAuthenticationClientId" value="[If necessary, please fill in ClientId of Facebook Authentication]" />
  <add key="FacebookAuthenticationClientSecret" value="[If necessary, please fill in ClientSecret of Facebook Authentication]" />

  <!--外部ログイン（TwitterAuthentication）-->
  <add key="TwitterAuthentication" value="false" />
  <add key="TwitterAuthenticationClientId" value="[If necessary, please fill in ClientId of Twitter Authentication]" />
  <add key="TwitterAuthenticationClientSecret" value="[If necessary, please fill in ClientSecret of Twitter Authentication]" />

  <!-- ================================================================ -->

  <!-- OAuth2 -->

  <!-- 共通設定 -->
  <add key="EquipOAuth2Server" value="true" />

  <!-- プロパティ -->
  <add key="AllowOAuth2InsecureHttpEndpoints" value="true" />
  <add key="OAuth2AuthorizeEndpointCanDisplayErrors" value="true" />
  <add key="OAuth2AccessTokenExpireTimeSpanFromMinutes" value="360" />
  <add key="OAuth2RefreshTokenExpireTimeSpanFromDays" value="14" />

  <!-- JWT -->
  <add key="OAuth2IssuerId" value="http://jwtssoauth.opentouryo.com" />
  <!-- JWTの署名に使用する X.509 証明書に関するパラメタ -->
  <add key="OAuth2JwsRs256Pwd" value="test" />
  <add key="OAuth2JwsRs256Pfx" value="C:\root\files\resource\X509\SHA256RSA_Server.pfx" />
  <add key="OAuth2JwsEs256Pwd" value="test" />
  <add key="OAuth2JwsEs256Pfx" value="C:\root\files\resource\X509\SHA256ECDSA_Server.pfx" />
  <add key="JwkSetFilePath" value="C:\root\files\resource\MultiPurposeAuthSite\JwkSet.json" />

  <!-- Grant Typeの有効・無効 -->
  <add key="EnableAuthorizationCodeGrantType" value="true" />
  <add key="EnableImplicitGrantType" value="true" />
  <add key="EnableResourceOwnerPasswordCredentialsGrantType" value="true" />
  <add key="EnableClientCredentialsGrantType" value="true" />
  <add key="EnableJwtBearerTokenFlowGrantType" value="true" />
  <add key="EnableRefreshToken" value="true" />
  
  <add key="EnableOpenIDConnect" value="true" />

  <!-- AuthorizationServerエンドポイント --> 
  <add key="OAuth2AuthorizationServerEndpointsRootURI" value="http://localhost:63359/MultiPurposeAuthSite" />
  
  <!-- 認可エンドポイント -->
  <add key="OAuth2AuthorizeEndpoint" value="/authorize" />
  <!-- Tokenエンドポイント -->
  <add key="OAuth2TokenEndpoint" value="/token" />
  
  <!-- WebAPI -->
  <!-- /userinfo -->
  <add key="OAuth2UserInfoEndpoint" value="/userinfo" />
  <!-- /revoke -->
  <add key="OAuth2RevokeTokenEndpoint" value="/revoke" />
  <!-- /introspect -->
  <add key="OAuth2IntrospectTokenEndpoint" value="/introspect" />
  
  <!-- HybridFlowのテスト用 -->
  <add key="TestHybridFlowWebAPI" value="/TestHybridFlow" />
  <!-- 課金処理のテスト用 -->
  <add key="TestChageToUserWebAPI" value="/TestChageToUser" />

  <!-- Redirectエンドポイント -->
  <!--  - self_code : Authorization Codeグラント種別 -->
  <add key="OAuth2AuthorizationCodeGrantClient_Manage" value="/Manage/OAuth2AuthorizationCodeGrantClient" />
  
  <!-- ResourceServerエンドポイント -->
  <add key="OAuth2ResourceServerEndpointsRootURI" value="http://localhost:63359/MultiPurposeAuthSite" />
  
  <!-- Client -->
  
  <!-- Clientエンドポイント -->
  <add key="OAuth2ClientEndpointsRootURI" value="http://localhost:63359/MultiPurposeAuthSite" />
  
  <!-- Redirectエンドポイント -->
  <!--  Redirectエンドポイント（テスト用）のロックダウン -->
  <add key="IsLockedDownRedirectEndpoint" value="false" />
  <!--  - test_self_code : Authorization Codeグラント種別 -->
  <add key="OAuth2AuthorizationCodeGrantClient_Account" value="/Account/OAuth2AuthorizationCodeGrantClient" />
  <!--  - test_self_token : Implicitグラント種別 -->
  <add key="OAuth2ImplicitGrantClient_Account" value="/Account/OAuth2ImplicitGrantClient" />
  
  <!-- クライアント識別子 (client_id, client_secret, redirect_uri) -->
  <!-- このセクションは、CreateClientsIdentity.exeを使用して生成できます。 -->
  <!-- 本稼働前にかならず、以下のclient_id, client_secretを置き換えて下さい。 -->
  <add key="OAuth2ClientsInformation" value='
       {
         "67d328bfe8604aae83fb15fa44780d8b": {
           "client_secret": "s_FhjujXG0U6kAD-c4S5ifiKdAgqFoil_UxKuN_Ur50",
           "redirect_uri_code": "test_self_code",
           "redirect_uri_token": "test_self_token",
           "client_name": "TestClient",
           "jwk_rsa_publickey": "eyJrdHkiOiJSU0EiLCJhbGciOiJSUzI1NiIsIm4iOiJybUxucTNjaHNudThrMTFWX2FjSjlFQXhjSFU4dzZCNzRMbU5tMFdGVkVRV1htOXQ4bTZRU2ZkQlR6ZWotMXpFYmV6WllOWVNzSkZDZ283WW4tTjFXY0FEU01neTZYaFliVDhuYmJwUTc5VG1rSV91aVNVdktycnhSaVNtMklUOVJ3WjdWN2Z0VWVibUI5YmJDME9PRFpfVGJMMFpVaE1sV05xMG5BbjBwYnFlYloySmwxWHRMRFRxOVVyeWxBdWVSZ3V2ekU3Mno1Qlh3VTE4S08yeWp5dTRBSkpIOU9aLVNmUktHeVlwU3J3OEdqRFhMNm5ObnA1TU9mTk1veTF4VWVIa0xWXzJaVUgtMktYV3hCVnJQbVhFWDNWbXlwN2VWSWFrV2ZrazNpeG41c2ZDZkxyekZIRmpfMjFlX3RlT1ZRVGVYUUlRcUpxN0FaQ0d1NmlxUVEiLCJlIjoiQVFBQiIsImtpZCI6IkVzSF9xS281eWNLeVU2c2xuaEVZRkN2a2RhWXRWUXhjSmxvX1pac3VJQncifQ"
         },
         "22cae150d0a541d896a1bb7764074dd6": {
           "client_secret": "t1KiBmlvSYhi3XZoKIyMjPabDsmmGUgr95hERmTb1XE",
           "redirect_uri_code": "test_self_code",
           "redirect_uri_token": "test_self_token",
           "oauth2_oidc_mode": "fapi1",
           "client_name": "TestClient1",
           "tls_client_auth_subject_dn": "CN=NISHINO\\nishi",
           "jwk_rsa_publickey": "eyJrdHkiOiJSU0EiLCJhbGciOiJSUzI1NiIsIm4iOiJybUxucTNjaHNudThrMTFWX2FjSjlFQXhjSFU4dzZCNzRMbU5tMFdGVkVRV1htOXQ4bTZRU2ZkQlR6ZWotMXpFYmV6WllOWVNzSkZDZ283WW4tTjFXY0FEU01neTZYaFliVDhuYmJwUTc5VG1rSV91aVNVdktycnhSaVNtMklUOVJ3WjdWN2Z0VWVibUI5YmJDME9PRFpfVGJMMFpVaE1sV05xMG5BbjBwYnFlYloySmwxWHRMRFRxOVVyeWxBdWVSZ3V2ekU3Mno1Qlh3VTE4S08yeWp5dTRBSkpIOU9aLVNmUktHeVlwU3J3OEdqRFhMNm5ObnA1TU9mTk1veTF4VWVIa0xWXzJaVUgtMktYV3hCVnJQbVhFWDNWbXlwN2VWSWFrV2ZrazNpeG41c2ZDZkxyekZIRmpfMjFlX3RlT1ZRVGVYUUlRcUpxN0FaQ0d1NmlxUVEiLCJlIjoiQVFBQiIsImtpZCI6IkVzSF9xS281eWNLeVU2c2xuaEVZRkN2a2RhWXRWUXhjSmxvX1pac3VJQncifQ"
         },
         "6336f8ff137044c4a30bbbdcd6c2cf5b": {
           "client_secret": "e6x7pufcY8hYHaW7PaEV-7nB91UTmSlX9YW5XjmhysY",
           "redirect_uri_code": "test_self_code",
           "redirect_uri_token": "test_self_token",
           "oauth2_oidc_mode": "fapi2",
           "client_name": "TestClient2",
           "tls_client_auth_subject_dn": "CN=NISHINO\\nishi",
           "jwk_rsa_publickey": "eyJrdHkiOiJSU0EiLCJhbGciOiJSUzI1NiIsIm4iOiJybUxucTNjaHNudThrMTFWX2FjSjlFQXhjSFU4dzZCNzRMbU5tMFdGVkVRV1htOXQ4bTZRU2ZkQlR6ZWotMXpFYmV6WllOWVNzSkZDZ283WW4tTjFXY0FEU01neTZYaFliVDhuYmJwUTc5VG1rSV91aVNVdktycnhSaVNtMklUOVJ3WjdWN2Z0VWVibUI5YmJDME9PRFpfVGJMMFpVaE1sV05xMG5BbjBwYnFlYloySmwxWHRMRFRxOVVyeWxBdWVSZ3V2ekU3Mno1Qlh3VTE4S08yeWp5dTRBSkpIOU9aLVNmUktHeVlwU3J3OEdqRFhMNm5ObnA1TU9mTk1veTF4VWVIa0xWXzJaVUgtMktYV3hCVnJQbVhFWDNWbXlwN2VWSWFrV2ZrazNpeG41c2ZDZkxyekZIRmpfMjFlX3RlT1ZRVGVYUUlRcUpxN0FaQ0d1NmlxUVEiLCJlIjoiQVFBQiIsImtpZCI6IkVzSF9xS281eWNLeVU2c2xuaEVZRkN2a2RhWXRWUXhjSmxvX1pac3VJQncifQ"
         },
         "06d20f595b694114b710c1d85e21bb8e": {
           "client_secret": "ld47EVKDDkxleIup7Z0UQ1rVy_IR4q3lXamyNcrIUEo",
           "redirect_uri_code": "id_federation_code",
           "redirect_uri_token": "-",
           "client_name": "IdFederation"
         },
         "f53469c17c5a432f86ce563b7805ab89": {
           "client_secret": "cKdwJb6mRKVIJpGxEWjIC94zquQltw_ECfO-55p21YM",
           "redirect_uri_code": "http://localhost:58496/Home/OAuth2AuthorizationCodeGrantClient",
           "redirect_uri_token": "hogehoge0",
           "client_name": "MVC_Sample"
         },
         "b6b393fe861b430eb4ee061006826b03": {
           "client_secret": "p2RgAFKF-JaF0A9F1tyDXp4wMq-uQZYyvTBM8wr_v8g",
           "redirect_uri_code": "http://localhost:9999/WebForms_Sample/Aspx/OAuth2/OAuth2AuthorizationCodeGrantClient.aspx",
           "redirect_uri_token": "hogehoge1",
           "client_name": "WebForms_Sample"
         },
         "f374a155909d486a9234693c34e94479": {
           "client_secret": "z54lhkewWPl4hk3eF1WYwvdqt7Fz24jYamLPZFVnWpA",
           "redirect_uri_code": "http://localhost:63877/Home/OAuth2AuthorizationCodeGrantClient",
           "redirect_uri_token": "http://localhost:63877/Crud1/Implicit",
           "client_name": "SPA_Sample"
         },
         "21c7769f16634dabaf14282602b9a5fc": {
           "client_secret": "xrRczIidMMZcMxvYWpIkvSZX1oRj2CLzVFSOkl7ocLY",
           "redirect_uri_code": "http://localhost:62517/Home/OAuthAuthorizationCodeGrantClient",
           "redirect_uri_token": "http://localhost:62517/Home/OAuthImplicitGrantClient",
           "client_name": "WebApplication1(MVC)"
         },
         "a0d280a6da034eb8ba821a651da829fc": {
           "client_secret": "eufLXjWaaQgiBXiiGZ-36N-bb4hOHy8H1TIEk126QDg",
           "redirect_uri_code": "http://localhost:56221/OAuthAuthorizationCodeGrantClient.aspx",
           "redirect_uri_token": "http://localhost:56221/OAuthImplicitGrantClient.aspx",
           "client_name": "WebApplication2(WebForms)"
         },
         "084b7157a4d7427794012ee8a8e6d415": {
           "client_secret": "JxBaXLNFyK4lCawEY9_HPA2zzjyiLgIiV4MQ2uogYms",
           "redirect_uri_code": "http://localhost:8090/code",
           "redirect_uri_token": "http://localhost:8090/token",
           "client_name": "SpringMVC(Java)"
         },
         "40319c0100f94ff3aab3004c8bdb5e52": {
           "client_secret": "m7VUuKLCK1nODl3xrLSoitw1x8N7sike9d5cXWa9_lg",
           "redirect_uri_code": "cordovatemplate://",
           "redirect_uri_token": "",
           "client_name": "AspNetCoreCordovaServer"
         }
       }
         ' />

  <!-- ================================================================ -->

  <!-- 機能のロックダウン（全てfalseでSTS専用モードで動作） -->
  
  <!-- サインアップ -->
  <add key="EnableSignupProcess" value="true" />
  <!-- ユーザ属性編集 -->
  <add key="EnableEditingOfUserAttribute" value="true" />
  <!-- ユーザ・ロール管理 -->
  <add key="EnableAdministrationOfUsersAndRoles" value="true" />

  <!-- IDフェデレーション -->
  <!-- 認可エンドポイント -->
  <add key="IdFederationAuthorizeEndPoint" value="http://localhost:63360/MultiPurposeAuthSite/Account/OAuth2Authorize" />
  <!-- Redirectエンドポイント -->
  <add key="IdFederationRedirectEndPoint" value="http://localhost:63359/MultiPurposeAuthSite/Account/IDFederationRedirectEndPoint" />
  <!-- Tokenエンドポイント -->
  <add key="IdFederationTokenEndPoint" value="http://localhost:63360/MultiPurposeAuthSite/OAuth2BearerToken" />
  <!-- UserInfoエンドポイント -->
  <add key="IdFederationUserInfoEndPoint" value="http://localhost:63360/MultiPurposeAuthSite/userinfo" />

  <!-- OAuth2, OIDC認証 -->
  
  <!-- Client-Server共通設定 -->
  <add key="JwkSetUri" value="/jwkcerts"/><!-- Serverではjku & .well-known/openid-configuration用 -->

  <!-- Client側設定 -->
  <add key="OAuth2AndOidcIsser" value="http://jwtssoauth.opentouryo.com"/>
  <add key="OAuth2AndOidcClientID" value="06d20f595b694114b710c1d85e21bb8e"/>
  <add key="OAuth2AndOidcSecret" value="ld47EVKDDkxleIup7Z0UQ1rVy_IR4q3lXamyNcrIUEo"/>
  <add key="OAuth2AndOidcRS256Cer" value="C:\root\files\resource\X509\SHA256RSA_Server.cer"/>
  <add key="OAuth2AndOidcES256Cer" value="C:\root\files\resource\X509\SHA256ECDSA_Server.cer"/>
  <add key="OAuth2AndOidcRS256Pwd" value="test"/>
  <add key="OAuth2AndOidcRS256Pfx" value="C:\root\files\resource\X509\SHA256RSA_Client.pfx"/>
  <add key="OAuth2AndOidcClientCertPwd" value="test"/>
  <add key="OAuth2AndOidcClientCertPfx" value="C:\root\files\resource\X509\SHA256RSAClientCert.pfx"/>

</appSettings>
