<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- ================================================================ -->
  
  <!-- フレームワークの使用するパラメータ - start -->
  <!-- 基盤画面パス -->
  <add key="FxErrorScreenPath" value="/MultiPurposeAuthSite/Error/Index" />
  <!--リソース ファイルの場合-->
  <add key="FxXMLMSGDefinition" value="C:\root\files\resource\Xml\MSGDefinition.xml" />
  <add key="FxXMLSPDefinition" value="C:\root\files\resource\Xml\SPDefinition.xml" />
  <!--埋め込まれたリソースの場合-->
  <!--add key="FxXMLMSGDefinition" value="_2CSClientWin_sample.MSGDefinition.xml"/-->
  <!--add key="FxXMLSPDefinition" value="_2CSClientWin_sample.SPDefinition.xml"/-->
  <!-- フレームワークの使用するパラメータ - end -->
  
  <!-- 共通部品の使用するパラメータ - start -->
  <!-- Log4Netのコンフィグファイルへのパス -->
  <!-- リソース ファイルの場合 -->
  <add key="FxLog4NetConfFile" value="C:\root\files\resource\Log\SampleLogConf.xml" />
  <!-- 埋め込まれたリソースの場合 -->
  <!--<add key="FxLog4NetConfFile" value="_2CSClientWin_sample.SampleLogConf2CS.xml"/>-->
  <!-- Ｄ層のパフォーマンスログ出力機能のon・off -->
  <add key="FxSqlTraceLog" value="on" />
  <!-- Ｄ層のSQL文キャッシュ機能のon・off -->
  <!-- 開発フェーズのことを考慮して、デフォルトoffに設定 -->
  <add key="FxSqlCacheSwitch" value="off" />
  <!-- Ｄ層のSQLロード時のエンコーディングを指定（shift_jis、utf-8.etc） -->
  <add key="FxSqlEncoding" value="utf-8" />
  <!-- Ｄ層のコマンド タイムアウト値を指定（秒） -->
  <add key="FxSqlCommandTimeout" value="30" />
  <!-- セッションタイムアウト検出機能のon・off -->
  <add key="FxSessionTimeOutCheck" value="off" />
  <!-- 共通部品の使用するパラメータ - end -->
  
  <!-- アプリケーションの使用するパラメータ - start -->
  <!-- SQLファイルファイル（フォルダ）へのパス -->
  <add key="SqlTextFilePath" value="C:\root\files\resource\Sql" />
  <!-- キャッシュ制御機能のon・off -->
  <add key="FxCacheControl" value="ON"/>
  <!-- アプリケーションの使用するパラメータ - end -->

  <!-- ================================================================ -->

  <!-- InternetProxy設定 (Internet アクセス用、) -->
  <add key="UseInternetProxy" value="false" />
  <add key="InternetProxyURL" value="[If necessary, please fill in internal proxy url]" />
  <add key="InternetProxyUID" value="[If necessary, please fill in user Id for proxy credential]" />
  <add key="InternetProxyPWD" value="[If necessary, please fill in password for proxy credential]" />

  <!-- IntranetProxy設定 (Intranet アクセス用、基本falseを想定) -->
  <add key="UseIntranetProxy" value="false" />
  <add key="IntranetProxyURL" value="" />
  <add key="IntranetProxyUID" value="" />
  <add key="IntranetProxyPWD" value="" />

  <!-- DebugProxy設定 (Fiddler) -->
  <add key="UseDebugProxy" value="false" />
  <add key="DebugProxyURL" value="http://localhost:8888/" />
  <add key="DebugProxyUID" value="" />
  <add key="DebugProxyPWD" value="" />
  
  <!-- ================================================================ -->

  <!-- オンライン決済サービス -->
  <!-- Stripe -->
  <add key="EnableStripe" value="false" />
  <add key="Stripe_PK" value="[If necessary, please fill in this input item like pk_test_xxxxx]" />
  <add key="Stripe_SK" value="[If necessary, please fill in this input item like sk_test_xxxxx]" />
  <!-- PAY.JP -->
  <add key="EnablePAYJP" value="false" />
  <add key="PAYJP_PK" value="[If necessary, please fill in this input item like pk_test_xxxxx]" />
  <add key="PAYJP_SK" value="[If necessary, please fill in this input item like sk_test_xxxxx]" />
  
  <!-- ================================================================ -->

  <!-- ASP.NET Identity -->

  <!-- Debugかどうか -->
  <add key="IsDebug" value="true" />
  <add key="EnabeDebugTraceLog" value="false" />

  <!-- User store type (mem, sql, ora, npg) -->
  <add key="UserStoreType" value="mem" />
  
  <!-- Multi-tenant -->
  <add key="Multi-tenant" value="true" />
  
  <!-- UserListCount -->
  <add key="UserListCount" value="50" />

  <!-- Administrator（システム管理者のアカウント） -->
  <add key="AdministratorUID" value="[Please fill in this input item.]" />
  <add key="AdministratorPWD" value="[Please fill in this input item.]" /> <!-- PWDのみ、初期化後削除可能 -->

  <!-- Notification Provider -->
  <!-- Smtp -->
  <add key="SmtpHostName" value="[e.g. : smtp.gmail.com]" />
  <add key="SmtpPortNo" value="587" />
  <add key="SmtpSSL" value="true" />
  <add key="SmtpAccountUID" value="[xxxxx@gmail.com]" />
  <add key="SmtpAccountPWD" value="[password of xxxxx@gmail.com]" />
  <!-- Twilio -->
  <add key="TwilioAccountSid" value="[TwilioAccountSid]" />
  <add key="TwilioAuthToken" value="[TwilioAuthToken]" />
  <add key="TwilioFromPhoneNumber" value="[TwilioFromPhoneNumber]" />

  <!-- 文面ファイルのフォルダ -->
  <add key="ContentOfLetterFilePath" value="C:\root\files\resource\Txt" />
  
  <!-- 登録されるTestUserのpassword -->
  <add key="TestUserPWD" value="[password of TestUser]" />

  <!--ユーザ名検証（既定のユーザ名は、E-mail-->
  <add key="AllowOnlyAlphanumericUserNames" value="false" />
  <!-- UserNameがEmailかどうか -->
  <add key="RequireUniqueEmail" value="true" />
  <!-- 約款画面を表示するかどうか -->
  <add key="DisplayAgreementScreen" value="false" />
  <!-- メアド検証リンクの有効期限 24  時間 -->
  <add key="EmailConfirmationTokenLifespanFromHours" value="24" />
  <!-- UserNameの編集を許可するかどうか -->
  <add key="AllowEditingUserName" value="true" />
  <!-- UserNameとEmail編集時にパスワードを要求するかどうか -->
  <add key="RequirePasswordInEditingUserNameAndEmail" value="false" />
  
  <!--パスワード検証（8文字以上の大文字・小文字、数値、記号-->
  <add key="RequiredLength" value="8" />
  <add key="RequireNonLetterOrDigit" value="true" />
  <add key="RequireDigit" value="true" />
  <add key="RequireLowercase" value="true" />
  <add key="RequireUppercase" value="true" />
  <add key="StretchCount" value="1000" />

  <!--ユーザ ロックアウト（5 回入力ミスすると、5分ロックアウト-->
  <add key="UserLockoutEnabledByDefault" value="true" />
  <add key="DefaultAccountLockoutTimeSpanFromSeconds" value="300" />
  <add key="MaxFailedAccessAttemptsBeforeLockout" value="5" />

  <!-- Cookie認証チケットの有効期限は2週間 24 * 14 = 336 時間 -->
  <add key="AuthCookieExpiresFromHours" value="336" />
  <!-- Cookie認証チケットのSliding（再発行）機能 -->
  <add key="AuthCookieSlidingExpiration" value="true" />
  
  <!-- 2FA : TwoFactorAuthentication -->
  <!-- 必要に応じてユーザが有効にするので初期値は false -->
  <add key="TwoFactorEnabled" value="false" />
  <!-- 2FA Cookieの有効期限は2週間 24 * 14 = 336 時間 -->
  <add key="TwoFactorCookieExpiresFromHours" value="336" />

  <!-- SecurityStamp（検証間隔は10秒、本番は長めに設定-->
  <add key="SecurityStampValidateIntervalFromSeconds" value="10" />

  <!-- その他、属性の編集を許可するかどうか -->
  <add key="CanEditEmail" value="true" />
  <add key="CanEditPhone" value="true" />
  <add key="CanEdit2FA" value="true" />
  <add key="CanEditUnstructuredData" value="true" />
  <add key="CanEditOAuth2Data" value="true" />

  <!-- ================================================================ -->

  <!--外部ログインの追加時に XSRF の防止-->
  <add key="XsrfKey" value="[Please set a random string for each site.]" />

  <!--外部ログイン（MicrosoftAccountAuthentication）-->
  <add key="MicrosoftAccountAuthentication" value="false" />
  <add key="MicrosoftAccountAuthenticationClientId" value="[If necessary, please fill in ClientId of Microsoft Account]" />
  <add key="MicrosoftAccountAuthenticationClientSecret" value="[If necessary, please fill in ClientSecret of Microsoft Account]" />

  <!--外部ログイン（GoogleAuthentication）-->
  <add key="GoogleAuthentication" value="false" />
  <add key="GoogleAuthenticationClientId" value="[If necessary, please fill in ClientId of Google Authentication]" />
  <add key="GoogleAuthenticationClientSecret" value="[If necessary, please fill in ClientSecret of Google Authentication]" />

  <!--外部ログイン（FacebookAuthentication）-->
  <add key="FacebookAuthentication" value="false" />
  <add key="FacebookAuthenticationClientId" value="[If necessary, please fill in ClientId of Facebook Authentication]" />
  <add key="FacebookAuthenticationClientSecret" value="[If necessary, please fill in ClientSecret of Facebook Authentication]" />
  
  <!--外部ログイン（TwitterAuthentication）-->
  <add key="TwitterAuthentication" value="false" />
  <add key="TwitterAuthenticationClientId" value="[If necessary, please fill in ClientId of Twitter Authentication]" />
  <add key="TwitterAuthenticationClientSecret" value="[If necessary, please fill in ClientSecret of Twitter Authentication]" />

  <!-- ================================================================ -->

  <!-- OAuth -->

  <!-- 共通設定 -->
  <add key="EquipOAuthServer" value="true" />

  <!-- プロパティ -->
  <add key="AllowOAuthInsecureHttpEndpoints" value="true" />
  <add key="OAuthAuthorizeEndpointCanDisplayErrors" value="true" />
  <add key="OAuthAccessTokenExpireTimeSpanFromMinutes" value="360" />
  <add key="OAuthRefreshTokenExpireTimeSpanFromDays" value="14" />

  <!-- JWT -->
  <add key="EnableCustomTokenFormat" value="true" />
  <add key="OAuthIssuerId" value="http://jwtssoauth.opentouryo.com" />
  <!-- JWTの署名に使用する X.509 証明書に関するパラメタ -->
  <add key="OAuthJWTPassword" value="test" />
  <add key="OAuthJWT_pfx" value="C:\root\files\resource\X509\RS256.pfx" />
  <add key="OAuthJWT_cer" value="C:\root\files\resource\X509\RS256.cer" />

  <!-- Grant Typeの有効・無効 -->
  <add key="EnableAuthorizationCodeGrantType" value="true" />
  <add key="EnableImplicitGrantType" value="true" />
  <add key="EnableResourceOwnerCredentialsGrantType" value="true" />
  <add key="EnableClientCredentialsGrantType" value="true" />
  <add key="EnableRefreshToken" value="true" />

  <!-- AuthorizationServerエンドポイント --> 
  <add key="OAuthAuthorizationServerEndpointsRootURI" value="http://localhost:63359/MultiPurposeAuthSite" />
  
  <!-- 認可エンドポイント -->
  <add key="OAuthAuthorizeEndpoint" value="/Account/OAuthAuthorize" />
  <!-- Tokenエンドポイント -->
  <add key="OAuthBearerTokenEndpoint" value="/OAuthBearerToken" />

  <!-- Redirectエンドポイント -->
  <!--  - self_code : Authorization Codeグラント種別 -->
  <add key="OAuthAuthorizationCodeGrantClient_Manage" value="/Manage/OAuthAuthorizationCodeGrantClient" />
  
  <!-- ResourceServerエンドポイント -->
  <add key="OAuthResourceServerEndpointsRootURI" value="http://localhost:63359/MultiPurposeAuthSite" />
  <add key="OAuthGetUserClaimsWebAPI" value="/userinfo" />

  <!-- Client -->
  
  <!-- Clientエンドポイント -->
  <add key="OAuthClientEndpointsRootURI" value="http://localhost:63359/MultiPurposeAuthSite" />
  
  <!-- Redirectエンドポイント -->
  <!--  Redirectエンドポイント（テスト用）のロックダウン -->
  <add key="IsLockedDownRedirectEndpoint" value="false" />
  <!--  - test_self_code : Authorization Codeグラント種別 -->
  <add key="OAuthAuthorizationCodeGrantClient_Account" value="/Account/OAuthAuthorizationCodeGrantClient" />
  <!--  - test_self_token : Implicitグラント種別 -->
  <add key="OAuthImplicitGrantClient_Account" value="/Account/OAuthImplicitGrantClient" />
  
  <!-- クライアント識別子 (client_id, client_secret, redirect_uri) -->
  <!-- このセクションは、CreateClientsIdentity.exeを使用して生成できます。 -->
  <!-- 本稼働前にかならず、以下のclient_id, client_secretを置き換えて下さい。 -->
  <add key="OAuthClientsInformation" value='
       {
         "f374a155909d486a9234693c34e94479": {
           "client_secret": "z54lhkewWPl4hk3eF1WYwvdqt7Fz24jYamLPZFVnWpA",
           "redirect_uri_code": "self_code",
           "redirect_uri_token": "self_token",
           "client_name": "SelfClient"
         },
           "67d328bfe8604aae83fb15fa44780d8b": {
           "client_secret": "s_FhjujXG0U6kAD-c4S5ifiKdAgqFoil_UxKuN_Ur50",
           "redirect_uri_code": "test_self_code",
           "redirect_uri_token": "test_self_token",
           "client_name": "TestClient"
         },
           "f53469c17c5a432f86ce563b7805ab89": {
           "client_secret": "cKdwJb6mRKVIJpGxEWjIC94zquQltw_ECfO-55p21YM",
           "redirect_uri_code": "http://localhost:58496/MVC_Sample/Home/OAuthAuthorizationCodeGrantClient",
           "redirect_uri_token": "http://localhost:62517/Home/OAuthImplicitGrantClient",
           "client_name": "hogehoge0"
         },
           "b6b393fe861b430eb4ee061006826b03": {
           "client_secret": "p2RgAFKF-JaF0A9F1tyDXp4wMq-uQZYyvTBM8wr_v8g",
           "redirect_uri_code": "http://localhost:9999/WebForms_Sample/Aspx/Auth/OAuthAuthorizationCodeGrantClient.aspx",
           "redirect_uri_token": "http://localhost:56221/OAuthImplicitGrantClient.aspx",
           "client_name": "hogehoge1"
         },
         "f374a155909d486a9234693c34e94479": {
           "client_secret": "z54lhkewWPl4hk3eF1WYwvdqt7Fz24jYamLPZFVnWpA",
           "redirect_uri_code": "http://localhost:63877/SPA_Sample/Home/OAuthAuthorizationCodeGrantClient",
           "redirect_uri_token": "http://localhost:63877/SPA_Sample/Crud1/Implicit",
           "client_name": "hogehoge2"
         }
       }
         ' />

  <!-- ================================================================ -->

</appSettings>
