@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // 以下のLicenseに従い、このProjectをTemplateとして使用可能です。Release時にCopyright表示してSublicenseして下さい。
    // https://github.com/OpenTouryoProject/MultiPurposeAuthSite/blob/master/license/LicenseForTemplates.txt

    //**********************************************************************************
    //* クラス名        ：Menu
    //* クラス日本語名  ：Menu
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2017/04/24  西野 大介         新規
    //**********************************************************************************
*@
@using MultiPurposeAuthSite.Models.ViewModels
@using MultiPurposeAuthSite.Co
@using MultiPurposeAuthSite.ASPNETIdentity.TokenProviders;
@using System.Collections.Generic;
@using Touryo.Infrastructure.Public.Util

@model AccountLoginViewModel
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

<h2>Menu</h2>
<div class="col-md-8">
    <h4>@ViewBag.Message</h4>
    <hr />
</div>

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{
       <!-- Footer 部の section -->
}