@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // 以下のLicenseに従い、このProjectをTemplateとして使用可能です。Release時にCopyright表示してSublicenseして下さい。
    // https://github.com/OpenTouryoProject/MultiPurposeAuthSite/blob/master/license/LicenseForTemplates.txt

    //**********************************************************************************
    //* クラス名        ：Menu
    //* クラス日本語名  ：Menu
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2017/04/24  西野 大介         新規
    //**********************************************************************************
*@
@using MultiPurposeAuthSite.Models.ViewModels
@using MultiPurposeAuthSite.Models.ASPNETIdentity
@using MultiPurposeAuthSite.Models.ASPNETIdentity.TokenProviders;
@using System.Collections.Generic;
@using Touryo.Infrastructure.Public.Util

@model AccountLoginViewModel
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Url
    string oAuthAuthorizeEndpoint = ASPNETIdentityConfig.OAuthAuthorizationServerEndpointsRootURI + ASPNETIdentityConfig.OAuthAuthorizeEndpoint;

    // client_id
    string client_id = OAuthProviderHelper.GetInstance().GetTestUsersClientId();
    Session["client_id"] = client_id;

    // nonce // 記号は入れない。
    string state = GetPassword.Generate(10, 0);
    Session["state"] = state;
}

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

<h2>Menu</h2>
<div class="col-md-8">
    <h4>@ViewBag.Message</h4>
    <hr />
    <ul>
        <li>サンプル
            <ul>
                <li>@Html.ActionLink("メニュー", "Index", "Home")</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>Management Controller
            <ul>
                <li>@Html.ActionLink("UserAdmin-Index", "Index", "UsersAdmin")</li>
                <li>@Html.ActionLink("RolesAdmin-Index", "Index", "RolesAdmin")</li>
            </ul>
        </li>
        <li>Test OAuth Server
            <ul>
                <li>Resource Access Test(scope=profile email phone address userid aaa bbb)
                    <ul>
                        <li><a href="@oAuthAuthorizeEndpoint?client_id=@client_id&response_type=code&scope=profile%20email%20phone%20address%20userid%20aaa%20bbb&state=@state">Authorization Codeグラント(client_id, response_type, scope, state)</a></li>
                        <li><a href="@oAuthAuthorizeEndpoint?client_id=@client_id&response_type=token&scope=profile%20email%20phone%20address%20userid%20aaa%20bbb&state=@state">Implicitグラント(client_id, response_type, scope, state)</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{
       <!-- Footer 部の section -->
}