@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // OAuth 2.0 テスト用 画面なので、必要に応じて流用 or 削除して下さい。

    //**********************************************************************************
    //* クラス名        ：OAuth2 Starters
    //* クラス日本語名  ：OAuth2 Starters
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2017/12/14  西野 大介         新規
    //*  2019/02/18  西野 大介         FAPI2 CC対応実施
    //**********************************************************************************
*@

@using MultiPurposeAuthSite.Co
@using MultiPurposeAuthSite.Entity
@using MultiPurposeAuthSite.Resources
@using MultiPurposeAuthSite.ViewModels

@model HomeOAuth2StartersViewModel
@{
    ViewBag.Title = "OAuth2 Starters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

<h2>@ViewBag.Title</h2>
<div class="col-md-8">
    @using (Html.BeginForm("OAuth2Starters", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "Fx_OnSubmit();" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.ClientType, new { @class = "col-md-3 control-label" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.ClientType, Model.DdlClientTypeItems, new { @class = "form-control" })
            </div>
        </div>
        <ul>
            <li>
                Authorization Code Flow
                <ul>
                    <li><input type="submit" name="submit.AuthorizationCode" value="Test Authorization Code Flow" class="btn-link" /></li>
                    <li><input type="submit" name="submit.AuthorizationCode_FormPost" value="Test Authorization Code Flow (form_post)" class="btn-link" /></li>
                    <li><input type="submit" name="submit.AuthorizationCode_OIDC" value="Test Authorization Code Flow (OIDC)" class="btn-link" /></li>
                    <li><input type="submit" name="submit.AuthorizationCode_OIDC_FormPost" value="Test Authorization Code Flow (OIDC, form_post)" class="btn-link" /></li>
                    <li><input type="submit" name="submit.AuthorizationCode_PKCE_Plain" value="Test Authorization Code Flow (PKCE plain)" class="btn-link" /></li>
                    <li><input type="submit" name="submit.AuthorizationCode_PKCE_S256" value="Test Authorization Code Flow (PKCE S256)" class="btn-link" /></li>
                </ul>
            </li>
            <li>
                Implicit Flow
                <ul>
                    <li><input type="submit" name="submit.Implicit" value="Test Implicit Flow" class="btn-link" /></li>
                    <li><input type="submit" name="submit.Implicit_OIDC1" value="Test Implicit Flow 'id_token'(OIDC)" class="btn-link" /></li>
                    <li><input type="submit" name="submit.Implicit_OIDC2" value="Test Implicit Flow 'id_token token'(OIDC)" class="btn-link" /></li>
                </ul>
            </li>
            <li>
                Hybrid Flow
                <ul>
                    <li><input type="submit" name="submit.Hybrid_OIDC1" value="Test Hybrid Flow 'code id_token'(OIDC)" class="btn-link" /></li>
                    <li><input type="submit" name="submit.Hybrid_OIDC2" value="Test Hybrid Flow 'code token'(OIDC)" class="btn-link" /></li>
                    <li><input type="submit" name="submit.Hybrid_OIDC3" value="Test Hybrid Flow 'code id_token token'(OIDC)" class="btn-link" /></li>
                </ul>
            </li>
            <li>
                Financial-grade API
                <ul>
                    <li><input type="submit" name="submit.AuthorizationCodeFAPI1" value="Test Authorization Code Flow (FAPI1 CC)" class="btn-link" /></li>
                    <li><input type="submit" name="submit.AuthorizationCodeFAPI1_OIDC" value="Test Authorization Code Flow (FAPI1 CC, OIDC)" class="btn-link" /></li>
                    <li><input type="submit" name="submit.AuthorizationCodeFAPI1_OIDC_FormPost" value="Test Authorization Code Flow (FAPI1 CC, OIDC, form_post)" class="btn-link" /></li>
                    <li><input type="submit" name="submit.AuthorizationCode_PKCE_S256" value="Test Authorization Code Flow (PKCE S256, FAPI1 PC)" class="btn-link" /></li>
                    <li><input type="submit" name="submit.AuthorizationCodeFAPI2" value="Test Authorization Code Flow (FAPI2 CC)" class="btn-link" /></li>
                </ul>
            </li>
            <li>
                ResourceOwner Password Credentials Flow<br />
                <ul>
                    <li><input type="submit" name="submit.TestResourceOwnerPasswordCredentialsFlow" value="Test ResourceOwner Password Credentials Flow" class="btn-link" /></li>
                </ul>
            </li>
            <li>
                Client Authentication Flow<br />
                ※ If you use a user account for client authentication in the following flows, registration of OAuth2 secret data is necessary to the account.
                <ul>
                    <li><input type="submit" name="submit.TestClientCredentialsFlow" value="Test Client Credentials Flow" class="btn-link" /></li>
                    <li><input type="submit" name="submit.TestJWTBearerTokenFlow" value="Test JWT Bearer Token Flow" class="btn-link" /></li>
                </ul>
            </li>
            <li>
                Hybrid-IdP
                <ul>
                    <li>...</li>
                </ul>
            </li>
        </ul>
    }
</div>

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{
    <!-- Footer 部の section -->
}