@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // 以下のLicenseに従い、このProjectをTemplateとして使用可能です。Release時にCopyright表示してSublicenseして下さい。
    // https://github.com/OpenTouryoProject/MultiPurposeAuthSite/blob/master/license/LicenseForTemplates.txt

    //**********************************************************************************
    //* クラス名        ：ManageTwoFactorAuthenticator
    //* クラス日本語名  ：ManageTwoFactorAuthenticator
    //*
    //* 作成日時        ：−
    //* 作成者          ：−
    //* 更新履歴        ：−
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2018/11/30  西野 大介         新規
    //**********************************************************************************
*@

@model ManageTwoFactorAuthenticationViewModel
@{
    ViewBag.Title = "Manage Two-factor authenticator";
}

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

<h4>@ViewBag.Title</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>You have no recovery codes left.</strong>
            <p>You must <a asp-action="GenerateTwoFactorAuthenticatorRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>You have 1 recovery code left.</strong>
            <p>You can <a asp-action="GenerateTwoFactorAuthenticatorRecoveryCodes">generate a new set of recovery codes</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
            <p>You should <a asp-action="GenerateTwoFactorAuthenticatorRecoveryCodes">generate a new set of recovery codes</a>.</p>
        </div>
    }

    <a asp-action="GenerateTwoFactorAuthenticatorRecoveryCodes" class="btn btn-default">Reset recovery codes</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
    <a asp-action="EnableTwoFactorAuthenticator" class="btn btn-default">Add authenticator app</a>
}
else
{
    <a asp-action="EnableTwoFactorAuthenticator" class="btn btn-default">Configure authenticator app</a>
    <a asp-action="ResetTwoFactorAuthenticator" class="btn btn-default">Reset authenticator app</a>
}

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{
    <!-- Footer 部の section -->
}

