<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SpRp_RsaCerFilePath" value="C:\root\files\resource\X509\SHA256RSA_Server.cer"/>
    <add key="SpRp_EcdsaCerFilePath" value="C:\root\files\resource\X509\SHA256ECDSA_Server.cer"/>
    <add key="JwkSetFilePath" value="C:\root\files\resource\MultiPurposeAuthSite\JwkSet.json"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>