<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Core.ja" version="2.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Owin.ja" version="2.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc.ja" version="5.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor.ja" version="3.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages.ja" version="3.2.6" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.3.0" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Logging" version="5.3.0" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.3.0" targetFramework="net46" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.SystemWeb.ja" version="4.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net46" />
  <package id="Npgsql" version="4.0.3" targetFramework="net46" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.3.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
  <package id="Twilio" version="5.23.0" targetFramework="net46" />
</packages>