@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // 以下のLicenseに従い、このProjectをTemplateとして使用可能です。Release時にCopyright表示してSublicenseして下さい。
    // https://github.com/OpenTouryoProject/MultiPurposeAuthSite/blob/master/license/LicenseForTemplates.txt

    //**********************************************************************************
    //* クラス名        ：FormPost
    //* クラス日本語名  ：OAuth2のform_post用のView
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2017/04/24  西野 大介         新規
    //**********************************************************************************
*@
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<body onload="javascript: document.forms[0].submit();">
    <form method="post" action="@ViewData["Action"]">
@if (!string.IsNullOrEmpty((string)ViewData["Code"]))
{
        <input type="hidden" name="code" value="@ViewData["Code"]" />
        <input type="hidden" name="state" value="@ViewData["State"]" />
}
else if (!string.IsNullOrEmpty((string)ViewData["Response"]))
{
    <input type="hidden" name="response" value="@ViewData["Response"]" />
}
    </form>
</body>
</html>

