@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // 以下のLicenseに従い、このProjectをTemplateとして使用可能です。Release時にCopyright表示してSublicenseして下さい。
    // https://github.com/OpenTouryoProject/MultiPurposeAuthSite/blob/master/license/LicenseForTemplates.txt

    //**********************************************************************************
    //* クラス名        ：PostBinding
    //* クラス日本語名  ：SAML2のHTTP POST Binding用のView
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2019/05/22  西野 大介         新規
    //**********************************************************************************
*@
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<body onload="javascript: document.forms[0].submit();">
    <form method="post" action="@ViewData["Action"]">
        <input type="hidden" name="RelayState" value="@ViewData["RelayState"]" />
        @if (!string.IsNullOrEmpty((string)ViewData["SAMLRequest"]))
        {
            <input type="hidden" name="SAMLRequest" value="@ViewData["SAMLRequest"]" />
        }
        else if (!string.IsNullOrEmpty((string)ViewData["SAMLResponse"]))
        {
            <input type="hidden" name="SAMLResponse" value="@ViewData["SAMLResponse"]" />
        }
    </form>
</body>
</html>

